.title{
    font-weight: bold;
    font-family: "Saira Extra Condensed","Segoe UI","Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
   
}

.desc{
    color: #6c757d;
}